body {
  background-color: #293462;
  font-family: "Roboto", sans-serif;
}

nav a {
  color: #293462;
  font-size: 16px;
  padding-left: 10px;
  text-decoration: none;
  margin-left: 10px;
  display: table;
  transition: 0.3s;
  font-weight: 500;
}

nav a:hover {
    color: #D61C4E;
}


.navbar-brand img {
    height: 40px;
}

#home-anchor-nav {
  font-size: 20px;
  font-weight: 500;
}
